.container {
  width: 80%;
  margin: 0 auto;
}

.todo-list {
  max-width: 250px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.task-item button{
    margin-left: auto;
}